{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block main %}
<div class="row">
<div class="col-md-offset-1 col-md-10">
    <h2>{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-horizontal">
      {% csrf_token %}
	  {{ form.errors }}
	  {% for elem in form %}
	  <div class="form-group">
	    {% if elem.name != 'username' %}
	        {% if elem.name != 'confirmation_key' %}
	        <label class="control-label col-sm-4" for="id_{{elem.name}}">{{elem.label}}:</label>
	        {% endif %}
	        <div class="col-sm-6">
	            {{ elem }} 
	        </div>
	    {% endif %}
	  </div>
	  {% endfor %}
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-5">
	      <button type="submit" class="btn btn-success">{% trans "Change Password" %} &raquo;</button>
	    </div>
	  </div>        
    </form>
</div>
</div>
{% endblock %}
